export STRIPE_API_KEY=pk_test_51LjIVwGV3HzI6y8uTHMcHbM2GUvyUQftqsOIqMowuwlqx5BlG3K0PnxPmMvKlUy5oqLjPRknDDBOvIvrY9iWLnGz00SAEq7CFP
export STRIPE_API_SECRET=sk_test_51LjIVwGV3HzI6y8u0kqjV4KUxugJPanKODbUAjlXMVBAoKGOuIHZSuLFdcQhiqEykhcEiVTBqctSO5FglFhy5wx000JLiq3hIu
export STRIPE_WEBHOOK_SECRET=whsec_secret

export GITHUB_DEPLOYMENT_KEY=3721b6c074c85e481785
export SHIFT4SHOP_CLIENT_ID=7edefd179423964c567ec777ee7d39b7
export SHIFT4SHOP_CLIENT_SECRET=feeb22fd6c5c4040a8eccb2a3ce742d6

export GITHUB_CLIENT_ID=cf299537ab9ec9a3
export GITHUB_CLIENT_SECRET=60ec2e185914792e
